* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.navbar-nav {
    margin-right: 5rem;
  }

.navbar-brand {
    margin-left: 5rem;
}

.logo-codoacodo {
    width:100px;
}

.comprar-ticket {
    color: rgb(96, 184, 8);
}

.textoChico {
    font-size: .8rem;
}

.carousel-item img {
    filter: brightness(50%);
}

/* Hover en NavBar */

/*** ESTILOS BOTÓN SLIDE BOTTOM ***/
.ov-btn-slide-bottom {
    background: #ffffff00; /* color de fondo */
    color: #ebebf2; /* color de fuente */
     /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .ov-btn-slide-bottom:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-bottom::after {
    content: "";
    background: #38373e; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-bottom:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .colorVerde {
    color: green;
  }

/* Oradores */
.card-css {
    width: 18rem;
}

.text-card-css {
    font-size: 0.7rem;
}

/* Formulario orador */
.form-orador {
    max-width: 60%;
}

.subrayado-puntos {
    text-decoration: underline dotted;
}


textarea::placeholder {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

/* Fotter */
.pie-pagina {
    height: 50px;
    background-color: #2471A3;
}

.pie-pagina a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}


/* Adaptable (responsivo) */

/* @media screen and (max-width: 500px)
{
  .navbar-brand 
  {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 790px)
{
    .texto-carrusel{
        display: none;
    }
}

@media screen and (max-width: 500px)
{
    textarea::placeholder {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px)
{
    .form-orador {
        max-width: 100%;
    }
}

@media screen and (max-width: 700px)
{
    .pie-pagina{
        display: flex;
        flex-direction: column;
        height: auto;
    }
} */